<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Diri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>


  <ion-item>
    <ion-label>Nama Lengkap :</ion-label>
    <ion-input type="text"></ion-input>  
  </ion-item>

  <ion-item>
    <ion-label>Tempat/Tgl Lahir :</ion-label>
    <ion-input type="text"></ion-input>  
  </ion-item>

  <ion-item>
    <ion-label>Jenis Kelamin :</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Alamat Lengkap</ion-label>
    <ion-input placeholder="Jalan"></ion-input>
    <ion-input placeholder="RT"></ion-input>
    <ion-input placeholder="RW"></ion-input>
    <ion-input placeholder="Kelurahan"></ion-input>
    <ion-input placeholder="Kecamatan"></ion-input>
    <ion-input placeholder="Kode Pos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Agama :</ion-label>
    <ion-input type="text"></ion-input>  
  </ion-item>
</ion-list>
<ion-item>
  <ion-button fill="solid" expand="block" routerLink="/halamanutama">Next</ion-button>
</ion-item>
</ion-content>
