<ion-header>
  <ion-toolbar>
    <ion-title>Data Lengkap</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Steve</ion-card-title>
      <ion-img src="./assets/img/001.jpg"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facilis consectetur enim veritatis neque quam temporibus! Voluptates provident harum quae odio esse recusandae, consectetur magni cumque nesciunt ratione cupiditate laudantium?
    </ion-card-content>
  </ion-card>


<h6></h6>
  <ion-button fill="solid" shape="round" expand="full" (click)="notify()">Actions</ion-button>
</ion-content>
